 /*Demo styles */
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    background: url("../img/onebg.jpg") no-repeat;
    background-size: 100% 100%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#music{
    width: 60px;
    height: 60px;
    position: fixed;
    right: 3%;
    top: 2%;
    z-index: 9;
}

#music .imgcbg{
    width: 60px;
    height: 60px;
}
#music .imgImg{
    position: absolute;
    right: 8px;
    top: 8px;
animation: music 1s infinite linear;
}
@keyframes music{
    0%{
        transform: rotate(0deg);
    }
    100%{transform: rotate(360deg)}
}
.swiper-wrapper{
    background: url("../img/onebg.jpg");
}
 .swiper-slide.one{
     background: url("../img/onebg.jpg");
     background-size:100% 100%;
 }
.swiper-slide.one .top{
    width: 70%;
    height: 50%;
    border: 10px solid #fff;
    position: absolute;
    left: 10%;
    top: 10%;
    overflow: hidden;
}
 .swiper-slide.one .top img{
     width: 100%;

 }
 .swiper-slide.one .center{
     width: 70%;
     height: 23%;
     margin: 0 auto;
     margin-top: 90%;
     position: relative;
     left: 20%;
 }
 .swiper-slide.one .center .ring{
     width: 40%;
     position: absolute;
     left: 0;
     top: 10%;
 }
 .swiper-slide.one .center .marry{
     width: 140%;
     position: absolute;
     top: 20%;
     left: -10%;
 }
 .swiper-slide.one .bottom{
     width: 80%;
     margin-top: 150%;
     position: relative;
     left: -20%;
     height: 10%;
     font-size: 8vw;
     color: rgba(255,255,255,0.9);
 }
 .swiper-slide.one .bottom div{
     float: left;
 }


 .swiper-slide.two{
     background: url("../img/twobg.jpg");
     background-size:100% 100%;
     position: relative;
 }
 .swiper-slide.two img{
     width: 100%;
 }
 .swiper-slide.two .top{
     width: 40%;
     height: 25%;
     border: 5px solid #fff;
     position: absolute;
     top: 10%;
     left: 10%;
     overflow: hidden;
     z-index: 1;
 }
 .swiper-slide.two .center{
     width: 65%;
     height: 30%;
     border: 5px solid #fff;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     overflow: hidden;
     z-index: 2;
 }
 .swiper-slide.two .bottom{
     width: 40%;
     height: 25%;
     border: 5px solid #fff;
     position: absolute;
     bottom: 10%;
     right: 10%;
     overflow: hidden;
     z-index: 1;
 }

 .swiper-button-next{
     position: absolute;
     top: auto;
      bottom: 0%;
     left: 47%;
     transform: rotate(270deg);
     animation: run 1s linear infinite;

 }
 @keyframes run {
     from{
         bottom: 1%;
         opacity: 1;
     }to{
     bottom: 5%;
     opacity: 0;
           }
 }
 /*第二屏结束*/

 /*第三屏开始*/
 .swiper-slide.three div{
     width: 100%;
     height: 100%;
    background: url("../img/three.jpg");
     background-size:100% 100%;
 }
 /*第三屏结束*/